{lib_dirs, ["deps"]}.
{erl_opts, [
    debug_info,
    warn_format,
    warn_export_vars,
    warn_obsolete_guard,
    warn_bif_clash

]}.

{erl_opts, [debug_info, fail_on_warning]}.
{compiler_options, [verbose, report_errors]}.

{require_otp_vsn, "R16"}.

{deps, [
    {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}},
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb", {tag, "v2.8.0"}}},
    {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.2"}}},
    {eredis, ".*", {git, "git://github.com/wooga/eredis", {tag, "v1.0.6"}}},
    {uuid, ".*", {git, "git://gitorious.org/avtobiff/erlang-uuid.git", "master"}}
]}.
